@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000;
}

* {
    font-family: "Rubik", sans-serif;

}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.text-shadow {
    text-shadow: -4px 0px 6px #6c7293;
}